@import 'tailwindcss';

@theme {
    --theme-steps: #9150f1 0%, #4d50f1 25%, #44cbf1 50%, #69ffa1 75%, #27fe58 100%;
}
@layer utilities {
    .fancy-title {
        background: linear-gradient(90deg, var(--theme-steps));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}